html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100vh;

}
canvas {
    display: block;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    float: left;
    width: 100%;
    background: url('img1.jpg');
    background-position: center;
    background-size:cover;
    /* height: 110vh; */
    position: relative;
    background-attachment: fixed;
}
#home::after{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
.wrapper{
    float: left;
    width: 100%;
    height: 15vh;
}
header .wrapper .row {
    padding: 30px 60px;
    width: 100%;
    position: relative;
    z-index: 1;
    float: left;
}
header .row .logo{
    float: left;
    width: 50%;
}
header .row .left-icons{
    float: right;
    /* padding: 15px 0; */
}
.logo{
    position: relative;
}
.logo a{
    text-decoration: none;
    float: left;
    background: #FFAD01;
    padding: 6px 14px;
    border-radius: 50%;
}
.logo-span{
    font-family: sans-serif;
    font-size: 25px;
    color: #fff;

}
span.logo-lin1 {
    position: absolute;
    width: 30px;
    background: #fff;
    height: 4px;
    top: 7px;
    left: 47px;
}
span.logo-line2 {
    position: absolute;
    width: 18px;
    background: #fff;
    height: 4px;
    top: 17px;
    left: 47px;
}
span.logo-lin3 {
    position: absolute;
    width: 18px;
    background: #fff;
    height: 4px;
    top: 27px;
    left: 47px;
}
.left-icons .search-icon {
    float: left;
    /* padding: 0px 10px; */
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 7px 10px;
    margin: 0 8px;
}
.left-icons .search-icon:hover{
    padding: 7px 10px;
    color: #fff;
    font-size: 13px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #fff;
    margin: 0 8px;
}
.cart-icon .count {
    position: relative;
    font-size: 12px;
    top: -25px;
    right: -11px;
}
.count i.fas.fa-circle {
    color: #3feb0e;
}
.count p {
    color: #fff;
    position: absolute;
    top: 1px;
    right: 6px;
    font-size: 10px;
}
.wrapper .row1{
    float: left;
    width: 100%;
    display: flex;
    align-items:center;
    height: 96vh;
    position: inherit;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
}
.row1 .container1{
    padding: 0 230px;
    color:#fff;
    font-family: sans-serif;
}
.row1 .text1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.row1 .text2{
    font-size: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 15px 0;
}
.row1 .text3{
    line-height: 25px;
    width: 52vw;
    letter-spacing: 2px;
    color: #fff;
}
.btn-learn {
    float: left;
    padding: 15px 0;
}
.button-contact {
    background: #202020;
    color: #fff;
    float: left;
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-family: sans-serif;
}
.seprater {
    padding: 18px 0px;
    float: left;
    border-left: 2px solid #fff;
}
.search-icon a{
    color: #fff;
}
.btn-learn button{
    /* height: 44px; */
    /* width: 165px; */
    color: #fff;
    background-color: rgb(255 173 1);
    border: none;
    font-weight: 800;
    outline: none;
    transition:background 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-learn button:hover{
    background: #fff;
    color: black;
}

.mission{
    float: left;
    width: 100%;
    /* background: url("img2.jpg"); */
    background-position: center;
    background-size:cover;
    /* height: 92vh; */
    display: flex;
    /* align-items: center; */
    position: relative;
}
.mission .bg,.mission .bg1,.mission .bg2{
    width: 100%;
    height: 100%;
    position: absolute;
}
.mission .bg{
    clip-path: circle(50.8% at 28% 9%);
    z-index: -1;
    background: linear-gradient(to bottom right, #ffad01, #edeffb);
}
.mission .bg2{
    clip-path: circle(6.2% at 87% 76%);
    z-index: -1;
    background: linear-gradient(to bottom right, #ffad01, #edeffb);
}   
.mission .bg1{
    clip-path: circle(15.8% at 81% 35%);
    z-index: -1;
    background: linear-gradient(to bottom right, #ffad01, #edeffb);
}
.view{
    position: relative;
    height: 44px;
    width: 165px;
    color: #fff;
    background-color: #ffad01;
    border: none;
    font-weight: 800;
    outline: none;
    transition:color 0.25s ease;
    cursor: pointer;
}
.view:hover{
    color:#fff;
}
.view::after {
  
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0a6edd;
    transform-origin:left;
    transition:width 0.25s ease;
    z-index:-1;
}
.view:hover::after {
    width:100%;
}
.mission .row {
    float: left;
    width: 100%;
    padding: 10px 110px;
    align-items: center;
    display: flex;
    padding-top: 40px;
}
/* .mission .text3 p{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ddd;
    
} */
.image-section3 {
    float: left;
    /* width: 51%; */
    /* height: 500px; */
    /* background: #312d2d87; */
    border-radius: 10px;
}
.image-section3 img{
    width: 600px;
}
.image-section {
    float: left;
    /* width: 51%; */
    /* height: 500px; */
    /* background: #312d2d87; */
    border-radius: 10px;
}
.image-section1{
    float: left;
    /* width: 51%; */
    /* height: 500px; */
    /* background: #312d2d87; */
    border-radius: 10px;
}
.image-section1 img{
    width: 500px;
}
.image-section img {
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}
.mission .about-section {
    width: 48%;
    float: left;
    color: #fff;
    font-family: sans-serif;
    padding-left: 35px;
    position: relative;
}
.about-section  .text1 {
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.2em;
    color: #868585;
    font-weight: 800;
    padding-bottom: 10px;
    /* position: absolute;
    left: -25px;
    transform: rotate(-90deg);
    top: 35px; */
}
/* .about-section  .text1::before{
    content: '';
    padding: 10px 50px;
    border-bottom: 3px solid #6d6d6d;
} */
.about-section .text2 {
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    color: black;
    padding-bottom: 12px;
}
.text3 {
    font-size: 15px;
    color: #6d6d6d;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: justify;
}
.text3 p {
    line-height: 23px;
}
.text3 p:last-child {
    padding-top: 19px;
}
nav {
    float: right;
    position: fixed;
    right: 76px;
    top: 25vh;
    z-index: 1;
}
nav .contain {
    width: 100%;
}
nav .contain li {
    padding: 2px 0;
    list-style: none;
    width: 100%;
    float: left;
    text-align: center;
}

nav .circles {
    position: relative;
    float: right;
}
a.nav-1 {
    width: 100%;
    float: left;
    position: relative;
    text-decoration: none;
}

nav .circles .circle-1{
    color: #FFAD01;
    font-size: 9px;
    position: absolute;
    right: 9px;
    top: 14px
}
nav .circles .circle-hole {
    font-size: 28px;
    color: #FFAD01;
}
nav .circles .circle-hover {
    position: absolute;
    color: #FFAD01;
    right: 7px;
    top: 7px;
    font-size: 13px;
    display: none;
}

.nav-1 .circles .cir-11{
    visibility: visible;
}
.hover-visible{
    visibility: visible !important;
}
.hover11{
    /* visibility: hidden; */
}
nav .link-name {
    position: absolute;
    top:10px;
    right: 40px;
    background: #FFAD01;
    padding: 2px 10px;
    color: #fff;
    border-radius: 10px;
    font-size: 11px;
    height: 22px;
    font-family:sans-serif;
    font-weight:800;
    text-align: center;
    /* display: none; */
}
.link-name-visible{
    display: block !important;
}
.services{
    float: left;
    width: 100%;
    /* background: url(img3.jpg); */
    background-position: center;
    background-size:cover;
    /* height: 92vh; */
    /* display: flex; */
    /* align-items: center; */
    padding-top:100px;
    position: relative;
    padding-bottom:40px;
}
.container {
    float: left;
    width: 100%;
    /* margin: 0 110px; */
}
.services .row{
    float: left;
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
}
.services .container{
    float: right;
    width: 50%;
    padding-right: 80px;
}
.services .diamond{
    color: #fff;
    width: 77px;
    height: 74px;
    background: #00c282;
    overflow: hidden;
    font-size: 39px;
    padding: 19px 18px;
    border-radius: 100%;
    margin:0 auto;
    position: relative;
}
.services .about-section{
    float: left;
    /* color: #fff; */
    font-family: sans-serif;
    padding-left: 25px;
    /* text-align: center; */
    padding-top:40px;
    color: #00c282;
}
.services .about-section .text2 {
    /* text-align: center; */
    line-height: 1.3em;
}
.services .text3{
    /* padding: 0 200px; */
}
span.codebox {
    float: left;
    width: 50%;
    padding: 0 60px;
}
span.conatin.box {
    float: left;
    width: 400px;
    height: 450px;
    background: linear-gradient(109.61deg,#4c4f5a 4.26%,#202125 84.84%);
    border-radius: 5px;
    position: relative;
}
span.html-box {
    width: 300px;
    height: 140px;
    border-radius: 5px;
    background: #1d1e22;
    position: absolute;
    top: 20px;
    right: -20px;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(0,0,0,.5);
}
.html-box span.head {
    display: grid;
    grid-template-columns: 35px auto 15px;
    align-items: center;
    padding-bottom: 5px;
}
.html-box span.html {
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #c5c8d4;
    font-weight: 900;
    font-family: 'Lato', sans-serif;

}
span.setting-icon ,span.down-arrow{
    color: #4c4f5a;
}
.html-box code.body {
        padding: 0 10px;
    color: #fff;
    float: left;
}
.html-box .div{
    color: #a88038;
}
.html-box .cla{
    color: #e1ca72;
}
.html-box .cla-name{
    color: #74b087;
}
.css-box{
    left: -30px !important;
    top: 180px !important;
}
.script-box{
    top:340px !important;
}
.css-cla{
    /* float: left; */
    width: 100%;
    margin-left: 15px;
}
.css-div{
    /* float: left; */
    width: 100%;
    color: #a88038;

}
.css-cla span:first-child {
    color: aquamarine;
}
.css-cla span:last-child,.css-box .cla-name{
    color: #de734b;
}
.css-box .cla-name{
    margin-left: 65px;
}
.css-box .f-size{
    color: #74b087 !important;
}
.scr-var span:first-child{
    color: #0a6edd;
}
.scr-var span:nth-child(2){
    color: #ff960bf2;
}
.hex-code span:nth-child(even){
    color: #00c282
}
.work{
    float: left;
    width: 100%;
    /* padding: 50px; */
}
.work-row{
    float: left;
    width: 100%;
    padding: 50px;
}
.work .bg,.work .bg1,.work .bg2{
    width: 100%;
    height: 100%;
    position: absolute;
}
.work .bg{
    clip-path: circle(19.8% at 30% 34%);
    z-index: -1;
    background: linear-gradient(to bottom right, #ff960b, #edeffb);
}
.work .bg2{
    clip-path: circle(6.2% at 87% 76%);
    z-index: -1;
    background: linear-gradient(to bottom right, #ff960b, #edeffb);
}   
.work .bg1{
    clip-path: circle(15.8% at 81% 35%);
    z-index: -1;
    background: linear-gradient(to bottom right, #ff960b, #edeffb);
}
.work .row {
    float: left;
    width: 100%;
    /* text-align: center; */
}
.work .title {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.2em;
    color: black;
    font-weight: 700;
    font-family: sans-serif;
}
.work .xy1 {
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.2em;
    color: #868585;
    font-weight: 800;
    padding-bottom: 10px;
}
.work span.box1 {
    float: left;
    width: 100%;
    position: relative;
}

.work .row1{
    float: left;
    /* width: 1140px; */
    /* margin: 0 110px; */
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.work span.box1 a{
    float: left;
    width: 50%;
}
.work span.box1 a img{
    float: left;
    width: 100%;
    border-radius: 10px;
}
span.img-body-text {
    float: left;
    width: 50%;
    background: rgb(0 0 0 / 42%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: right;
    right: 70px;
    border-radius: 10px;
}
p.text-pro {
    float: left;
    width: 100%;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
    height: 100px;
    text-align: center;
    padding: 25px 10px;
}
.img-text-right{
    right: 0;
    left: 70px;
}
.work span.box1 a.right{
    float: right;
}
.que .row{
    /* padding: 50px; */
    float: left;
    width: 50%;
    padding:50px;
    font-family: sans-serif;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.5);
}
.que span.heading {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.2em;
    color: black;
    font-weight: 700;
    font-family: sans-serif;
}
.que span.Q1 {
    float: left;
    width: 100%;
    font-size: 15px;
    color: #6d6d6d;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: justify;
    padding: 10px 0;
}
.que .Q1 p:first-child {
    font-weight: 700;
    /* line-height: 23px; */
    padding-bottom: 10px;
}
section.hire {
    float: left;
    width: 100%;
    position: relative;
}
.hire .content-box{
    float: left;
    width: 50%;
}
.hire .row {
    float: left;
    padding: 50px;
}
.hire .content-box span {
    float: left;
    width: 100%;
    background: #fff;
    box-shadow: 5px 5px 15px #ddd;
    border-radius: 10px;
    padding: 20px 25px;
    text-align: justify;
    position: relative;
}
.hire .content-box {
    float: left;
    width: 50%;
    padding: 0 50px;
    font-family: sans-serif;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.5);
}
.hire .content-box span::before{
    content: '';
    width: 500px;
    height: 450px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 10px;
    left: -45px;
    z-index: -1;
    top: -45px;
}
.hire .main-head{
    float: left;
    display: flex;
    align-items: center;
    position: absolute;
    transform: translate(-40%, -65%);
    top: 40%;
    left: 65%;
}
.hire .main-head p{
    font-size: 35px;
    font-family: sans-serif;
    position: relative;
    color: #ffad01;
}
.hire .main-head p::before{
    content: '';
    position: absolute;
    border-bottom:3px solid #ffad01;
    width: 50px;
    padding: 0 95px;
    left: -50px;
    bottom: -5px;
    border-radius: 5px;
}
#home .address{
    float: left;
    width: 100%;
    padding: 15px 0;
}
#home .email{
    float: left;
    /* width: 50%; */
    background: #202020b8;
    padding: 10px 20px;
    margin-right: 25px;
    /* position: absolute; */
    border-radius: 5px;
}
#home .e-m{
    float: left;
    width: 100%;
    line-height: 25px;
    color: #c1c1b9;
    font-weight: 700;
}
#home .linkdn{
    float: left;
    /* width: 50%; */
    /* position: absolute; */
    background: #202020b8;
    padding: 10px 20px;
    /* margin-right: 10px; */
    border-radius: 5px;
}
#home .address a{
    color: #fff;
    text-decoration: none;
}
/* roadmap  */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  /* background: #456990; */
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}  /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: rgb(128, 82, 255);
  padding: 70px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline{
  background: white;
  padding: 86px 0;
}

 .timeline ul li{
  background: rgb(249 201 101);
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 10px;
  background: 89afff !important;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

/*Main content boxes*/ 
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #ffad01;
}

/*Boxes around the triangle to the main content box*/
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  
}

/*Distance from line to right content box*/
.timeline ul li:nth-child(odd) div {
  left: 45px;
}

/*Css and distance for right triangle*/
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #ffad01 transparent transparent;
}

/*Distance for left content main box*/
.timeline ul li:nth-child(even) div {
  left: -439px;
}

/*Box for left triangle box*/
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #ffad01;
}

/*Css for phase text inside the box*/
phase {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #fbd077f2;
}

/* .timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
} */

/* .timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
} */

/* .timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
} */

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES / activates responsive effects when screen is zoomed or on mobile device
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ffad01 transparent transparent;
  }
}



.blurry-text {
   text-shadow: 0 0 10px white;
   color: transparent;
}

.path{
    float: left;
    width: 100%;
}
span.head-path {
    padding: 20px;
    float: left;
    width: 100%;
    color: #ffad01;
    font-size: 35px;
    text-align: center;
}
